/* crop Index page styles */

/* common styles */
.section-headings {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1.5px;
	color: @section-heading-color;
}
/* common styles */

/* crop Home page styles */
.crop-index-page-container {

}
/* crop Home page styles */
