html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    // overflow-y: scroll;
	overflow-x: hidden; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    color: rgba(0,0,0,0.87);
}
body {
    line-height: 1;
    height: 6000px;
}