.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.btn-default {
  border-radius: 4px; 
  color: #ffffff;
  border: 1px solid @cz-green;
  background-color: @cz-green; 
}

.btn-default:focus, .btn-default:hover {
    color: @cz-green;
    border: 1px solid @cz-green;
    outline: none;
    background-color: #ffffff; 
}
