.hompage-wrapper {
	.sections {
		.small-heading {
			color: @SmallHeadingText;
		}
		.large-heading {
			color: @LargeheadingText;
		}
		p {
			color: @text-color-light-gray;
		}
		.btn-default {
			font-weight: 500;
			font-size: 16px;
			width: 220px;
			padding: 15px 0;
			margin-top: 20px;
		}
	}
	.products-section {
		background: url("../img/homepage/products_section.png") no-repeat bottom center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
			.icons {
				width: 100px;
				height: auto;
				margin: 0 auto;
				margin-top: 60px;
			}
			.icon-text {
				font-size: 16px;
				font-weight: 400;
				color: #fff;
				margin-top: 20px;
				margin-bottom: 60px;
			}
	}
	.packages-section {
		background-color: #f6f6f6;
			.left-section-image {
				max-width: 90%;
			}
			.icon-cont {
				position: relative;
				padding-left: 250px;
				.heading {
					font-weight: 600;
					font-size: 22px;
					color: #000;
					margin-bottom: 15px;
				}
				.sub-text {
					font-size: 16px;
					font-weight: normal;
					margin-bottom: 60px;
				}
				.icons {
					width: 80px;
					left: 0;
					margin-left: 150px;
					position: absolute;
				}
			}
			.flex-center {
				height: 400px;
			}
			.btn-lg {
				margin-top: 50px;
			}
	}
	.process-section{
		background-color: #fff;
			.padding-left {
			    padding-left: 100px;
			}
			.padding-right {
			    padding-right: 100px;
			}
			.img-fluid {
			    align-self: center;
			}
			.heading-text {
				margin-bottom: 60px;
			}
			.number {
				font-size: 52px;
				line-height: 1;
				color: #a8a8a8;
				font-style: italic;
			}
			.number-text {
				letter-spacing: 1.7px;
				font-weight: 700;
				font-size: 18px;
				text-transform: uppercase;
				color: @cz-orange;
				margin-bottom: 45px;
			}
			.flex-center {
				height: 640px;
			}
			.icon-text {
				text-transform: uppercase;
				color: @cz-orange;
				margin-top: 40px;
				font-weight: 600;
			}
			.fa-check-circle {
				margin-right: 10px;
				font-size: 42px;
			    transform: translateY(8px);
			}
	}
}